$color1: #0DAD83;
$color2: #109A93;
$gradient: linear-gradient(to bottom, $color1, $color2);

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  position: absolute;
  background: $gradient;
  background: -webkit-linear-gradient($color1, $color2);
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.function {
  margin: 15px;
}

.graph-container {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  margin: 75px auto;
  position: relative;
  left: 0;
  right: 0;
}

.sine-wave-reference {
  opacity: 0.15;
}

.svg {
  overflow: visible;
}

.playback-controls {
  position: relative;
  width: 100%;
  min-width: 350px;
  font-size: 0;
}

.button {
  display: inline-block;
  border-radius: 2px;
  font-family: sans-serif;
  cursor: pointer;
  color: #0DAD30;
  height: 40px;
  vertical-align: top;
  margin: 15px;
}

.button.play {
  left: -2px;
  position: relative;
}

.controls-container {
  width: 350px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.slider {
  width: 350px;
  margin: 0 auto;
  height: 60px;
  position: relative;
  left: 0;
  right: 0;
}

.slider-label {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-transform: lowercase;
  font-weight: 300;
}

.slider-bar {
  position: absolute;
  height: 2px;
  width: calc(100% - 80px);
  left: 15px;
  background: rgba(255, 255, 255, 0.75);
  top: 39px;
}

.slider-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.6);
  top: 25px;
  cursor: pointer;
}

.slider-value {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 0;
  text-align: right;
  border-radius: 4px;
  line-height: 40px;
  color: white;
  font-family: sans-serif;
  font-weight: 300;
}

.reset {
  font-family: sans-serif;
  color: $color1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  margin: 15px 0;
  height: 40px;
  line-height: 40px;
  position: relative;
  display: inline-block;
  padding: 0 15px;
  background: white;
  border-radius: 4px;
}

.toggle {
  height: 40px;
  position: relative;
}

.shadow-toggle {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.toggle-label {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: lowercase;
  color: white;
  font-weight: 300;
  position: absolute;
  right: 70px;
}

.toggle-container {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: -5px;
  cursor: pointer;
  border: 2px solid white;
  background: $color1;
  transition: background 0.25s cubic-bezier(1, 0, 0, 1);
}

.toggle-handle {
  height: 36px;
  width: 36px;
  position: absolute;
  background: white;
  left: 20px;
  border-radius: 18px;
  border: 2px solid $color1;
  transition: left 0.25s cubic-bezier(1, 0, 0, 1);
}

.toggle-container.toggle-off {
  background: white;

  .toggle-handle {
    left: 0;
  }
}